#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
#==============================================================================#

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# generate version.h.
version.h

